/* src/components/Header.css */

.header {
  position: relative;
  background-size: cover;
  background-image:  url("logo.jpeg");
  background-position: center;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: yellow;
  text-align: center;
  
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.header-title {
  position: relative;
  font-size: 2rem;
  z-index: 1;
  padding: 0 20px;
}

.about {
 background-color: greenyellow;
 
}
